<!DOCTYPE html>
<html>
<head>
  <title>PC File Manager</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<div id="breadcrumb" class="mt-4 text-gray-300 text-sm flex flex-wrap gap-2"></div>

<body class="bg-gray-900 text-white">


    <div class="bg-gray-800 p-3 rounded mt-4 flex flex-wrap gap-3">

  <select id="sort" class="text-black p-1 rounded">
    <option value="name">Sort by Name</option>
    <option value="size">Sort by Size</option>
    <option value="date">Sort by Date</option>
  </select>

  <select id="order" class="text-black p-1 rounded">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>

    <select id="filter" class="text-black p-1 rounded" multiple size="7">
  <option value="all">All</option>
  <option value="images">Images</option>
  <option value="videos">Videos</option>
  <option value="audio">Audio</option>
  <option value="documents">Documents</option>
  <option value="pdf">PDF</option>
  <option value="code">Code</option>
  <option value="zip">Archives</option>
</select>



  <input id="search" placeholder="Search..."
         class="text-black p-1 rounded"/>

  <button onclick="loadFiles()" 
          class="bg-blue-500 px-3 py-1 rounded">
    Apply
  </button>

</div>





  <div class="p-6">
    <h1 class="text-3xl font-bold mb-4">PC File Manager 🖥️</h1>

    <div class="bg-gray-800 p-4 rounded-lg shadow">
      <input id="path" class="w-full p-2 text-black rounded"
        value="/" placeholder="Enter path">
      <button onclick="loadFiles()" class="mt-3 px-4 py-2 bg-blue-500 rounded">
        Open
      </button>
    </div>

    <div id="files" class="mt-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"></div>
  </div>
  
  <div class="flex gap-3 mt-5" id="pager"></div>

<script>
let currentPage = 1;

let currentList = [];
let currentIndex = -1;

function getIcon(name, isDir){
  if(isDir) return "📁";

  const ext = name.toLowerCase();

  if(/\.(png|jpg|jpeg|gif|webp|svg)$/.test(ext)) return "🖼️";
  if(/\.(mp4|webm|avi|mov|mkv)$/.test(ext)) return "🎞️";
  if(/\.(mp3|wav|m4a)$/.test(ext)) return "🎵";
  if(ext.endsWith(".pdf")) return "📄";
  if(/\.(zip|rar|7z)$/.test(ext)) return "🗜️";
  if(/\.(txt|log|md)$/.test(ext)) return "📝";
  if(/\.(py|js|html|css|json|cpp|java)$/.test(ext)) return "💻";
  
  return "📦";   // default
}


async function loadFiles() {
  let path = document.getElementById("path").value;

  let sort = document.getElementById("sort").value;
  let order = document.getElementById("order").value;
  let filterSelect = document.getElementById("filter");
  let selected = Array.from(filterSelect.selectedOptions).map(o => o.value);

   let filters = "";

  // If ALL selected → ignore other filters
  if (selected.includes("all")) {
  filters = "";
  } 
  else {
  filters = selected.join(",");
  }



  let search = document.getElementById("search").value;

  const res = await fetch(`/list?path=${encodeURIComponent(path)}&page=${currentPage}&sort=${sort}&order=${order}&filter=${filters}&search=${encodeURIComponent(search)}`);



  const data = await res.json();

  let box = document.getElementById("files");
  box.innerHTML = "";

  if(data.error){
    box.innerHTML = `<p class='text-red-400'>${data.error}</p>`;
    return;
  }

  buildBreadcrumb(data.path);

currentList = data.items
  .filter(i => !i.is_dir)
  .map(i => i.path.replace(/\\/g,'\\\\'));

    data.items.forEach(item => {
    box.innerHTML += `
        <div class="bg-gray-800 p-3 rounded hover:bg-gray-700">
        <div onclick="${item.is_dir 
            ? `openPath('${item.path.replace(/\\/g,'\\\\')}')`
            : `openPreview('${item.path.replace(/\\/g,'\\\\')}')`}" 
            class="cursor-pointer">

            <p class="font-bold break-words whitespace-normal">
                ${getIcon(item.name, item.is_dir)} ${item.name}
            </p>
            <p class="text-sm text-gray-400">
            ${item.is_dir ? "📂 Folder" : "📄 File"}
            </p>
        </div>

        <button onclick="deleteItem('${item.path.replace(/\\/g,'\\\\')}')"
            class="mt-2 px-3 py-1 bg-red-500 rounded hover:bg-red-600">
            Delete
        </button>
        </div>`;
    });

let pager = document.getElementById("pager");
pager.innerHTML = "";

if(data.page > 1){
  pager.innerHTML += `
    <button onclick="changePage(${data.page-1})"
      class="px-3 py-1 bg-gray-700 rounded hover:bg-gray-600">
      ⬅ Prev
    </button>`;
}

let max = Math.ceil(data.total / data.per_page);

if(data.page < max){
  pager.innerHTML += `
    <button onclick="changePage(${data.page+1})"
      class="px-3 py-1 bg-gray-700 rounded hover:bg-gray-600">
      Next ➡
    </button>`;
}


}
function changePage(p){
  currentPage = p;
  loadFiles();
}


function openPath(p){
  let input = document.getElementById("path");

  // If Windows and missing drive, add it
  if(p.includes("\\") && !p.includes(":")){
      let current = input.value;

      // get drive from current path
      let drive = current.includes(":")
        ? current.split("\\")[0]
        : "C:";

      p = drive + "\\" + p;
  }

  input.value = p;
  loadFiles();
}


loadFiles();

async function deleteItem(path){
  if(!confirm("Are you sure you want to delete?\n" + path)) return;

  const res = await fetch("/delete", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({path})
  });

  const data = await res.json();

  if(data.status === "deleted"){
    alert("Deleted successfully");
    loadFiles();
  } else {
    alert(data.error || "Failed to delete");
  }
}

function openPreview(path){
  currentIndex = currentList.indexOf(path);
  previewFile(path);
}


function buildBreadcrumb(fullPath){
  let container = document.getElementById("breadcrumb");
  container.innerHTML = "";

  let isWindows = fullPath.includes("\\");
  let parts = fullPath.split(/[/\\\\]+/).filter(Boolean);

  // ---------------- WINDOWS ----------------
  if(isWindows){
    let drive = parts[0];          // C:
    let folders = parts.slice(1);

    // ROOT "/"
    container.innerHTML += `
      <span onclick="openPath('${drive + "\\\\"}')"
        class="cursor-pointer text-blue-400 hover:text-blue-200 underline">
        /
      </span>
      ${folders.length ? "<span class='mx-1'>/</span>" : ""}
    `;

    folders.forEach((part, index) => {

      let absPath = drive + "\\" + folders.slice(0, index+1).join("\\") + "\\";

      container.innerHTML += `
        <span onclick="openPath('${absPath.replace(/\\/g,'\\\\')}')"
          class="cursor-pointer text-blue-400 hover:text-blue-200 underline">
          /${part}
        </span>
        ${index < folders.length-1 ? "<span class='mx-1'>/</span>" : ""}
      `;
    });

    return;
  }

  // ---------------- LINUX ----------------
  container.innerHTML += `
    <span onclick="openPath('/')"
      class="cursor-pointer text-blue-400 hover:text-blue-200 underline">
      /
    </span>
    ${parts.length ? "<span class='mx-1'>/</span>" : ""}
  `;

  parts.forEach((part, index) => {
    let current = "/" + parts.slice(0, index+1).join("/");

    container.innerHTML += `
      <span onclick="openPath('${current}')"
        class="cursor-pointer text-blue-400 hover:text-blue-200 underline">
        /${part}
      </span>
      ${index < parts.length-1 ? "<span class='mx-1'>/</span>" : ""}
    `;
  });
}





async function previewFile(path){
  const box = document.getElementById("previewBox");
  const content = document.getElementById("previewContent");

  document.getElementById("previewTitle").innerText = path.split(/[/\\]+/).pop();
  
  content.innerHTML = "Loading...";

  if(/\.(png|jpg|jpeg|gif|webp)$/i.test(path)){
    content.innerHTML = `
      <img src="/preview?path=${encodeURIComponent(path)}"
             class="w-full h-full object-contain rounded shadow mx-auto">

    `;
  }

  else if(/\.pdf$/i.test(path)){
  content.innerHTML = `
    <iframe src="/preview?path=${encodeURIComponent(path)}#zoom=page-fit"
            class="w-full h-[100%] rounded border-0"></iframe>
  `;
}



  else if(/\.(mp4|webm|avi|mov|mkv)$/i.test(path)){
    content.innerHTML = `
      <video controls autoplay class="w-full h-full object-contain rounded">
        <source src="/preview?path=${encodeURIComponent(path)}">
        Your browser does not support this video.
      </video>
    `;
  }

  else if(/\.(mp3|wav|m4a)$/i.test(path)){
  content.innerHTML = `
    <audio controls autoplay class="w-full mt-4">
      <source src="/preview?path=${encodeURIComponent(path)}">
      Your browser does not support audio playback.
    </audio>
  `;
}


  else {
    const res = await fetch(`/preview?path=${encodeURIComponent(path)}`);
    const text = await res.text();
    content.innerHTML = `<pre class="whitespace-pre-wrap">${text}</pre>`;
  }

  box.classList.remove("hidden");
  box.classList.add("flex");
}


function closePreview(){
  const box = document.getElementById("previewBox");
  box.classList.add("hidden");
}

function showNext(){
  if(currentIndex < currentList.length - 1){
    currentIndex++;
    previewFile(currentList[currentIndex]);
  }
}

function showPrev(){
  if(currentIndex > 0){
    currentIndex--;
    previewFile(currentList[currentIndex]);
  }
}


// keyboard
document.addEventListener("keydown", (e) => {
  const box = document.getElementById("previewBox");

  if(box.classList.contains("hidden")) return;

  if(e.key === "ArrowRight") showNext();
  if(e.key === "ArrowLeft") showPrev();
  if(e.key === "Escape") closePreview();
});

</script>

<div id="previewBox"
     class="fixed inset-0 bg-black/70 hidden items-center justify-center">
  <div class="bg-gray-900 p-5 rounded-xl w-[90%] h-[90%] overflow-hidden flex flex-col">


    
    <div class="flex justify-between items-center mb-3">
        <h2 id="previewTitle" class="text-xl font-bold truncate max-w-[70%]"></h2>

        <div class="flex gap-2">
            
            <button onclick="showPrev()"
            class="px-3 py-1 bg-gray-700 rounded hover:bg-gray-600">
            ⬅ Prev
            </button>

            <button onclick="showNext()"
            class="px-3 py-1 bg-gray-700 rounded hover:bg-gray-600">
            Next ➡
            </button>

            <button onclick="closePreview()"
            class="px-3 py-1 bg-red-500 rounded">
            Close
            </button>
        </div>
        </div>


    <div id="previewContent" class="text-white text-sm flex-1 overflow-hidden"></div>

  </div>
</div>


</body>
</html>
